*.builtin
*.cmd
*.lzma
*.ko
*.o
*.order
Kernel/.config
Kernel/.missing-syscalls.d
Kernel/.tmp_System.map
Kernel/.tmp_kallsyms1.S
Kernel/.tmp_kallsyms2.S
Kernel/.tmp_versions/
Kernel/.tmp_vmlinux1
Kernel/.tmp_vmlinux2
Kernel/.version
Kernel/Module.symvers
Kernel/System.map
Kernel/arch/arm/boot/Image
Kernel/arch/arm/boot/compressed/lib1funcs.S
Kernel/arch/arm/boot/compressed/piggy.gzip
Kernel/arch/arm/boot/compressed/vmlinux
Kernel/arch/arm/boot/compressed/vmlinux.lds
Kernel/arch/arm/boot/zImage
Kernel/arch/arm/kernel/asm-offsets.s
Kernel/arch/arm/kernel/vmlinux.lds
Kernel/arch/arm/lib/lib.a
Kernel/crypto/ansi_cprng.mod.c
Kernel/drivers/bluetooth/bthid/bthid.mod.c
Kernel/drivers/char/consolemap_deftbl.c
Kernel/drivers/char/defkeymap.c
Kernel/drivers/misc/vibetonz/vibrator.mod.c
Kernel/drivers/net/tun.mod.c
Kernel/drivers/net/wireless/bcm4329/victory/dhd.mod.c
Kernel/drivers/net/wireless/bcm4329/victory/src/wl/sys/hotspot_event_monitoring.mod.c
Kernel/drivers/net/wireless/wimax/cmc7xx_sdio.mod.c
Kernel/drivers/net/wireless/wimaxgpio/wimax_gpio.mod.c
Kernel/drivers/onedram/dpram/dpram.mod.c
Kernel/drivers/onedram/dpram_recovery/dpram_recovery.mod.c
Kernel/drivers/scsi/scsi_wait_scan.mod.c
Kernel/firmware/samsung_mfc_fw.bin
Kernel/firmware/samsung_mfc_fw.bin.gen.S
Kernel/fs/cifs/cifs.mod.c
Kernel/fs/fuse/fuse.mod.c
Kernel/include/config/
Kernel/include/generated/
Kernel/include/linux/version.h
Kernel/kernel/bounds.s
Kernel/kernel/config_data.gz
Kernel/kernel/config_data.h
Kernel/kernel/timeconst.h
Kernel/lib/crc32table.h
Kernel/lib/gen_crc32table
Kernel/lib/lib.a
Kernel/net/netfilter/xt_TCPMSS.mod.c
Kernel/scripts/basic/docproc
Kernel/scripts/basic/fixdep
Kernel/scripts/basic/hash
Kernel/scripts/bin2c
Kernel/scripts/conmakehash
Kernel/scripts/kallsyms
Kernel/scripts/kconfig/conf
Kernel/scripts/kconfig/lex.zconf.c
Kernel/scripts/kconfig/zconf.hash.c
Kernel/scripts/kconfig/zconf.tab.c
Kernel/scripts/mod/elfconfig.h
Kernel/scripts/mod/mk_elfconfig
Kernel/scripts/mod/modpost
Kernel/usr/.initramfs_data.cpio.d
Kernel/usr/gen_init_cpio
Kernel/usr/initramfs_data.cpio
Kernel/make.out
Kernel/vmlinux

.DS_Store
